---
apiVersion: opensearch.stackable.tech/v1alpha1
kind: OpenSearchCluster
metadata:
  name: opensearch
spec:
  image:
{% if test_scenario['values']['opensearch'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['opensearch'].split(',')[1] }}"
{% endif %}
    productVersion: "{{ test_scenario['values']['opensearch'].split(',')[0] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
    securityConfig:
      config:
        managedBy: operator
        content:
          value:
            _meta:
              type: config
              config_version: 2
            config:
              dynamic:
                authc:
                  basic_internal_auth_domain:
                    description: Authenticate via HTTP Basic against internal users database
                    http_enabled: true
                    transport_enabled: true
                    order: 1
                    http_authenticator:
                      type: basic
                      challenge: true
                    authentication_backend:
                      type: intern
                authz: {}
                http:
                  anonymous_auth_enabled: true
      internalUsers:
        managedBy: API
        content:
          valueFrom:
            secretKeyRef:
              name: security-config-internal-users
              key: internal_users.yml
      roles:
        managedBy: API
        content:
          valueFrom:
            configMapKeyRef:
              name: security-config
              key: roles.yml
      rolesMapping:
        managedBy: API
        content:
          valueFrom:
            configMapKeyRef:
              name: security-config
              key: roles_mapping.yml
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleConfig:
      discoveryServiceListenerClass: external-unstable
    roleGroups:
      cluster-manager:
        config:
          discoveryServiceExposed: true
          nodeRoles:
            - cluster_manager
          resources:
            storage:
              data:
                capacity: 100Mi
        replicas: 3
      data:
        config:
          discoveryServiceExposed: false
          nodeRoles:
            - ingest
            - data
            - remote_cluster_client
          resources:
            storage:
              data:
                capacity: 2Gi
        replicas: 2
      security-config:
        config:
          discoveryServiceExposed: false
          nodeRoles: []
          resources:
            storage:
              data:
                capacity: 100Mi
        replicas: 1
        configOverrides:
          opensearch.yml:
            plugins.security.ssl.http.pemtrustedcas_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/pemtrustedcas/ca.crt
        podOverrides:
          spec:
            initContainers:
              - name: create-admin-certificate
{% if test_scenario['values']['opensearch'].find(",") > 0 %}
                image: "{{ test_scenario['values']['opensearch'].split(',')[1] }}"
{% else %}
                image: oci.stackable.tech/sdp/opensearch:{{ test_scenario['values']['opensearch'].split(',')[0] }}-stackable{{ test_scenario['values']['release'] }}
{% endif %}
                command:
                  - /bin/bash
                  - -euxo
                  - pipefail
                  - -c
                args:
                  - |
                    openssl req \
                        -x509 \
                        -nodes \
                        -subj=/CN=update-security-config.localhost \
                        -out=/stackable/tls-admin/tls.crt \
                        -keyout=/stackable/tls-admin/tls.key

                    cat \
                        /stackable/tls-server/ca.crt \
                        /stackable/tls-admin/tls.crt > \
                        /stackable/pemtrustedcas/ca.crt
                volumeMounts:
                  - mountPath: /stackable/tls-server
                    name: tls-server
                    readOnly: true
                  - mountPath: /stackable/tls-admin
                    name: admin-certificate
                    readOnly: false
                  - mountPath: /stackable/pemtrustedcas
                    name: pemtrustedcas
                    readOnly: false
            containers:
              - name: opensearch
                volumeMounts:
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/pemtrustedcas
                    name: pemtrustedcas
                    readOnly: true
              - name: update-security-config
{% if test_scenario['values']['opensearch'].find(",") > 0 %}
                image: "{{ test_scenario['values']['opensearch'].split(',')[1] }}"
{% else %}
                image: oci.stackable.tech/sdp/opensearch:{{ test_scenario['values']['opensearch'].split(',')[0] }}-stackable{{ test_scenario['values']['release'] }}
{% endif %}
                command:
                  - /bin/bash
                  - -uo
                  - pipefail
                  - -c
                args:
                  - |
                    function wait_seconds () {
                        seconds="$1"

                        if test "$seconds" = 0
                        then
                            echo "Wait until pod is restarted..."
                        else
                            echo "Wait for $seconds seconds..."
                        fi

                        if test ! -e /stackable/log/_vector/shutdown
                        then
                            mkdir --parents /stackable/log/_vector
                            inotifywait \
                                --quiet --quiet \
                                --timeout $seconds \
                                --event create \
                                /stackable/log/_vector
                        fi

                        if test -e /stackable/log/_vector/shutdown
                        then
                            echo "Shut down"
                            exit 0
                        fi
                    }

                    function initialize_security_index() {
                        echo "Initialize the security index."

                        until plugins/opensearch-security/tools/securityadmin.sh \
                            --configdir {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security \
                            --disable-host-name-verification \
                            -cacert {{ test_scenario['values']['opensearch_home'] }}/config/tls/pemtrustedcas/ca.crt \
                            -cert /stackable/tls-admin/tls.crt \
                            -key /stackable/tls-admin/tls.key
                        do
                            echo "Initializing the security index failed."
                            wait_seconds 10
                        done
                    }

                    function check_security_index() {
                        echo "Check the status of the security index."

                        STATUS_CODE=$(curl \
                            --insecure \
                            --cert /stackable/tls-admin/tls.crt \
                            --key /stackable/tls-admin/tls.key \
                            --silent \
                            --output /dev/null \
                            --write-out "%{http_code}" \
                            https://localhost:9200/.opendistro_security)
                        if test "$STATUS_CODE" = "200"
                        then
                            echo "The security index is already initialized."
                        elif test "$STATUS_CODE" = "404"
                        then
                            initialize_security_index
                        else
                            echo "Checking the security index failed."
                            wait_seconds 10
                            check_security_index
                        fi
                    }

                    function update_config () {
                        filetype="$1"
                        filename="$2"

                        file="{{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/$filename"

                        if test -e "$file"
                        then
                            echo "Update managed configuration type \"$filetype\"."

                            until plugins/opensearch-security/tools/securityadmin.sh \
                                --type "$filetype" \
                                --file "$file" \
                                --disable-host-name-verification \
                                -cacert {{ test_scenario['values']['opensearch_home'] }}/config/tls/pemtrustedcas/ca.crt \
                                -cert /stackable/tls-admin/tls.crt \
                                -key /stackable/tls-admin/tls.key
                            do
                                echo "Updating \"$filetype\" in the security index failed."
                                wait_seconds 10
                            done
                        else
                            echo "Skip unmanaged configuration type \"$filetype\"."
                        fi
                    }

                    check_security_index

                    update_config actiongroups action_groups.yml
                    update_config allowlist allowlist.yml
                    update_config audit audit.yml
                    update_config config config.yml
                    update_config internalusers internal_users.yml
                    update_config nodesdn nodes_dn.yml
                    update_config roles roles.yml
                    update_config rolesmapping roles_mapping.yml
                    update_config tenants tenants.yml

                    echo "Wait for security configuration changes..."
                    # Wait until the pod is restarted due to a change of the Secret.
                    wait_seconds 0
                volumeMounts:
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/action_groups.yml
                    name: security-config-file-actiongroups
                    readOnly: true
                    subPath: action_groups.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/allow_list.yml
                    name: security-config-file-allowlist
                    readOnly: true
                    subPath: allow_list.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/audit.yml
                    name: security-config-file-audit
                    readOnly: true
                    subPath: audit.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/config.yml
                    name: security-config-file-config
                    readOnly: true
                    subPath: config.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/internal_users.yml
                    name: security-config-file-internalusers
                    readOnly: true
                    subPath: internal_users.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/nodes_dn.yml
                    name: security-config-file-nodesdn
                    readOnly: true
                    subPath: nodes_dn.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/roles.yml
                    name: security-config-file-roles
                    readOnly: true
                    subPath: roles.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/roles_mapping.yml
                    name: security-config-file-rolesmapping
                    readOnly: true
                    subPath: roles_mapping.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security/tenants.yml
                    name: security-config-file-tenants
                    readOnly: true
                    subPath: tenants.yml
                  - mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/pemtrustedcas
                    name: pemtrustedcas
                    readOnly: true
                  - mountPath: /stackable/tls-admin
                    name: admin-certificate
                    readOnly: true
                  - mountPath: /stackable/log
                    name: log
                    readOnly: false
            volumes:
              - name: admin-certificate
                emptyDir:
                  sizeLimit: 1Mi
              - name: pemtrustedcas
                emptyDir:
                  sizeLimit: 1Mi
    envOverrides:
      # Only required for the official image
      # The official image (built with https://github.com/opensearch-project/opensearch-build)
      # installs a demo configuration if not disabled explicitly.
      DISABLE_INSTALL_DEMO_CONFIG: "true"
      OPENSEARCH_HOME: {{ test_scenario['values']['opensearch_home'] }}
    configOverrides:
      opensearch.yml:
        # Disable memory mapping in this test; If memory mapping were activated, the kernel setting
        # vm.max_map_count would have to be increased to 262144 on the node.
        node.store.allow_mmap: "false"
        # Disable the disk allocation decider in this test; Otherwise the test depends on the disk
        # usage of the node and if the relative watermark set in
        # `cluster.routing.allocation.disk.watermark.high` is reached then the security index could
        # not be created even if enough disk space would be available.
        cluster.routing.allocation.disk.threshold_enabled: "false"
        plugins.security.authcz.admin_dn: CN=update-security-config.localhost
        plugins.security.restapi.roles_enabled: all_access
  objectOverrides:
    - apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: opensearch-nodes-security-config
        namespace: $NAMESPACE
      spec:
        template:
          spec:
            volumes:
              - name: security-config-file-actiongroups
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: action_groups.yml
                    path: action_groups.yml
                  name: opensearch-nodes-security-config
              - name: security-config-file-allowlist
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: allow_list.yml
                    path: allow_list.yml
                  name: opensearch-nodes-security-config
              - name: security-config-file-audit
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: audit.yml
                    path: audit.yml
                  name: opensearch-nodes-security-config
              - name: security-config-file-config
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: config.yml
                    path: config.yml
                  name: opensearch-nodes-security-config
              - name: security-config-file-internalusers
                secret:
                  defaultMode: 0o660
                  items:
                  - key: internal_users.yml
                    path: internal_users.yml
                  secretName: security-config-file-internal-users
              - name: security-config-file-nodesdn
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: nodes_dn.yml
                    path: nodes_dn.yml
                  name: opensearch-nodes-security-config
              - name: security-config-file-roles
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: roles.yml
                    path: roles.yml
                  name: security-config
              - name: security-config-file-rolesmapping
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: roles_mapping.yml
                    path: roles_mapping.yml
                  name: security-config
              - name: security-config-file-tenants
                configMap:
                  defaultMode: 0o660
                  items:
                  - key: tenants.yml
                    path: tenants.yml
                  name: opensearch-nodes-security-config
