---
apiVersion: opensearch.stackable.tech/v1alpha1
kind: OpenSearchCluster
metadata:
  name: opensearch
spec:
  image:
{% if test_scenario['values']['opensearch'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['opensearch'].split(',')[1] }}"
{% endif %}
    productVersion: "{{ test_scenario['values']['opensearch'].split(',')[0] }}"
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
        containers:
          opensearch:
            console:
              level: DEBUG
            file:
              level: DEBUG
            loggers:
              # Successful authorizations are logged at the DEBUG level.
              org.opensearch.security:
                level: DEBUG
              org.opensearch.performanceanalyzer:
                level: TRACE
    roleGroups:
      default:
        replicas: 3
    envOverrides:
      # Only required for the official image
      # The official image (built with https://github.com/opensearch-project/opensearch-build)
      # installs a demo configuration if not disabled explicitly.
      DISABLE_INSTALL_DEMO_CONFIG: "true"
      OPENSEARCH_HOME: {{ test_scenario['values']['opensearch_home'] }}
      OPENSEARCH_JAVA_OPTS: "-Dclk.tck=100 -Djdk.attach.allowAttachSelf=true -Djava.security.policy=file://stackable/opensearch/config/opensearch-performance-analyzer/opensearch_security.policy"
    configOverrides:
      opensearch.yml:
        # Disable memory mapping in this test; If memory mapping were activated, the kernel setting
        # vm.max_map_count would have to be increased to 262144 on the node.
        node.store.allow_mmap: "false"
        # Disable the disk allocation decider in this test; Otherwise the test depends on the disk
        # usage of the node and if the relative watermark set in
        # `cluster.routing.allocation.disk.watermark.high` is reached then the security index could
        # not be created even if enough disk space would be available.
        cluster.routing.allocation.disk.threshold_enabled: "false"
        plugins.security.allow_default_init_securityindex: "true"
        plugins.security.ssl.transport.enabled: "true"
        plugins.security.ssl.transport.pemcert_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/tls.crt
        plugins.security.ssl.transport.pemkey_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/tls.key
        plugins.security.ssl.transport.pemtrustedcas_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/ca.crt
        plugins.security.ssl.http.enabled: "true"
        plugins.security.ssl.http.pemcert_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/tls.crt
        plugins.security.ssl.http.pemkey_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/tls.key
        plugins.security.ssl.http.pemtrustedcas_filepath: {{ test_scenario['values']['opensearch_home'] }}/config/tls/ca.crt
    podOverrides:
      spec:
        containers:
          - name: opensearch
            ports:
              - containerPort: 9600
                name: performance
                protocol: TCP
            volumeMounts:
              - name: security-config
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-security
                readOnly: true
              - name: performance-analyzer-config
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/opensearch-performance-analyzer
              - name: performance-analyzer-data
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/data/performance_analyzer_enabled.conf
                subPath: performance_analyzer_enabled.conf
              - name: performance-analyzer-data
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/data/rca_enabled.conf
                subPath: rca_enabled.conf
              - name: performance-analyzer-data
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/data/logging_enabled.conf
                subPath: logging_enabled.conf
              - name: performance-analyzer-data
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/data/batch_metrics_enabled.conf
                subPath: batch_metrics_enabled.conf
              - name: performance-analyzer-data
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/data/thread_contention_monitoring_enabled.conf
                subPath: thread_contention_monitoring_enabled.conf
              - name: tls
                mountPath: {{ test_scenario['values']['opensearch_home'] }}/config/tls
                readOnly: true
        volumes:
          - name: security-config
            secret:
              secretName: opensearch-security-config
              defaultMode: 0o660
          - name: performance-analyzer-config
            configMap:
              name: performance-analyzer-config
              defaultMode: 0o660
          - name: performance-analyzer-data
            configMap:
              name: performance-analyzer-data
              defaultMode: 0o660
          - name: tls
            ephemeral:
              volumeClaimTemplate:
                metadata:
                  annotations:
                    secrets.stackable.tech/class: tls
                    secrets.stackable.tech/scope: node,pod,service=opensearch,service=opensearch-nodes-default-headless
                spec:
                  storageClassName: secrets.stackable.tech
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: "1"
