opensearchHosts: https://opensearch-nodes-cluster-manager:9200
image:
  repository: oci.stackable.tech/sdp/opensearch-dashboards
  tag: {{ test_scenario['values']['opensearch'].split(',')[0] }}-stackable0.0.0-dev
service:
  type: NodePort
serviceAccount:
  create: false
  # Use the ServiceAccount of OpenSearch because its permissions are already configured to work on
  # OpenShift.
  name: opensearch-serviceaccount
extraEnvs:
  - name: OPENSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: opensearch-credentials
        key: kibanaserver
