---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-security-indices
spec:
  template:
    spec:
      initContainers:
        - name: download-security-indices-backup
          image: minio/mc:RELEASE.2025-08-13T08-35-41Z
          command:
            - /root/scripts/download-security-indices-backup.sh
          env:
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: ACCESS_KEY
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: SECRET_KEY
          volumeMounts:
            - name: scripts
              mountPath: /root/scripts
            - name: s3-ca-crt
              mountPath: /root/.mc/certs/CAs
            - name: backup
              mountPath: /tmp/backup
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            # The image minio/mc runs as root.
            runAsNonRoot: false
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 128Mi
              cpu: 400m
      containers:
        - name: restore-security-indices
          image: oci.stackable.tech/sdp/opensearch:{{ test_scenario['values']['opensearch'].split(',')[0] }}-stackable{{ test_scenario['values']['release'] }}
          command:
            - /stackable/scripts/restore-security-indices.sh
          envFrom:
            - configMapRef:
                name: opensearch-2
          volumeMounts:
            - name: scripts
              mountPath: /stackable/scripts
            - name: tls
              # The Java policy allows reading from /stackable/opensearch/config.
              mountPath: /stackable/opensearch/config/tls
              readOnly: true
            - name: tls-client
              # The Java policy allows reading from /stackable/opensearch/config.
              mountPath: /stackable/opensearch/config/tls-client
              readOnly: true
            - name: backup
              mountPath: /tmp/backup
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
          resources:
            requests:
              # securityadmin.sh requires a lot of memory.
              memory: 1Gi
              cpu: 100m
            limits:
              memory: 1Gi
              cpu: 400m
      volumes:
        - name: scripts
          configMap:
            name: restore-security-indices-scripts
            defaultMode: 0o770
        - name: tls
          configMap:
            name: truststore-pem
        - name: tls-client
          secret:
            secretName: opensearch-2-admin-certificate
            defaultMode: 0o660
        - name: s3-ca-crt
          secret:
            secretName: minio-ca-crt
            defaultMode: 0o660
        - name: backup
          emptyDir:
            sizeLimit: 1Mi
      serviceAccountName: test-service-account
      securityContext:
        fsGroup: 1000
      restartPolicy: OnFailure
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: restore-security-indices-scripts
data:
  download-security-indices-backup.sh: |
    #!/usr/bin/env sh

    mc alias set minio https://minio:9000/ $S3_ACCESS_KEY $S3_SECRET_KEY
    mc cp --recursive minio/opensearch-security/ /tmp/backup
  restore-security-indices.sh: |
    #!/usr/bin/env sh

    plugins/opensearch-security/tools/securityadmin.sh \
        -cacert config/tls/ca.crt \
        -cert config/tls-client/tls.crt \
        -key config/tls-client/tls.key \
        --hostname $OPENSEARCH_HOST \
        --configdir /tmp/backup
